/*REGRA DO MENU*/
.menu-conn
{
    font-family: 'Carrois Gothic SC', sans-serif;
    color: white;
    background-color: #34495e;

}

.sistema-panel html col-sm-6
{
    font-family: 'Carrois Gothic SC', sans-serif;
    background-color: #ecf0f1;
}
